/.yarn/*
!.yarn/patches
#!/.yarn/cache
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
/.pnp.*


frontend/dist
node_modules
staticfiles
db.sqlite3
foxymaps/static/
project/setting/base.py
