$progress-bar-background-color: transparent;
$progress-indeterminate-duration: 6s;
$progress-value-background-color: #4790E5;

@import '~bulma';

html, body {
  margin: 0;
  // font-family: sans-serif;
  // font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.content p:not(:last-child) {
  margin: 0;
}

.directionsbutton {
  margin-top: 1em;
}

.level:not(:last-child) {
  margin: 0 0 1em 0
}



.box:not(:last-child) {
  margin-bottom: 0.75em;
}

.funbox {
  padding: 1em 1em;
  // padding: 1em 1em 1.25em;
  // margin: 0.5em 0.5em 0;
  border-radius:0.25em;
}


.funcolumn {
  padding: 0 0;
  // padding-right:0px;
}



.bottombox {
  padding: 1em 1em 1.5em 1em;
}



.centercolumn {
  padding: 0px;
}

.iconbutton {
  border: 0px;
}

// .dropdown {
//   width: 100%;
// }
.searchfield {
  padding:0.5em 0.5em 0.33em 0.5em;
  border-radius:1em;
}

.locationbuttonfield {
  padding:0em 0.5em 0.5em 0.5em;
  border-radius:1em;
}

.locationbuttonbox {
  border-radius:0.25em;
}

input {
  background-color: white;
}
.title {
  padding:1px;
  padding: 6px 16px 7px;
  // background-color: rgba(229, 221, 186, .5);
  // background-color: rgba(121, 207, 238, 1);
  // background-color: rgba(183, 228, 161, .6);
  background-color: rgba(160, 212, 142, .5);
  border-radius:0.15em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.mapcontainer {
  position:relative
}

.bodyContainer {
  position:absolute;
  width:100%;
  top:0px;
}


.bottomFormContainer {
  position:absolute;
  width:100%;
  bottom:0px;
  padding:0 0 2em 0;
  border-radius:0.15em;
  // font-weight: 300;
}


@media (min-width: 769px) {
  .bodyContainer {
    // position:absolute;
    width:41%;
    // height:95vh;
    // background-color: #FFFFFF;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin: 10px;
  }
  .bottomFormContainer{
    width:41%;
    // top: 0px;
  }
}


.map-marker {
  height: 20px;
  width: 20px;
  background-color: red;
  color: white;
  border-radius: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
