$progress-bar-background-color: transparent;
$progress-indeterminate-duration: 7s;
$blue: #4790E5;

@import '~bulma';

html, body {
  margin: 0;
  // font-family: sans-serif;
  // font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

input {
  background-color: white;
}


.commuteExploreField {
  padding:0.5em 0.5em 0.33em 0em;

}
.levelCommuteExplore {
  background-color: white;
  padding:0.5em 0.5em 0.33em 0.5em;
  border-radius:4px;
  border-width:1px;
  border-style: solid;
  border-color: rgb(219, 219, 219);
  width: 140px;
  font-weight: 400;
  font-stretch: 100%;
    // padding-bottom: calc(0.5em - 1px);
    // padding-left: 1em;
    // padding-right: 1em;
    // padding-top: calc(0.5em - 1px);
}
.pCommuteExplore{
}

.switch {
   // box-sizing: content-box;
   position: relative ;
   display: inline-block;
   width: 40px;
   height: 20px;
   background-color: #eee;
   // background-color: #7983ff;
   // border-bottom-color: #7983ff;
   // background-color: rgba(121, 207, 238, 1);
   // background-color: hsl(204, 86%, 53%);


   border-radius: 20px;
   border-width: 0px;

 }
 .switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  // border-radius: 18px;
  background-color: white;
  // top: -1.5px; // TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH.
  // left: 1px;
  top: 1px; // TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH.
  // left: 1px;
  // right: 1px;
  transition: all 0.3s;
}
.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  // background-color: #7983ff;
  background-color: hsl(204, 86%, 53%);
  // background-color: rgba(121, 207, 238, 1);

}
.checkbox {
   display : none;
}

.content p:not(:last-child) {
  margin: 0;
}

.directionsbutton {
  margin-top: 1em;
}

.level:not(:last-child) {
  margin: 0 0 1em 0
}

.box:not(:last-child) {
  margin-bottom: 0.75em;
}

.funbox {
  padding: 1em 1em;
  // padding: 1em 1em 1.25em;
  // margin: 0.5em 0.5em 0;
  border-radius:0.25em;
}

.funcolumn {
  padding: 0 0;
  // padding-right:0px;
}

.bottombox {
  padding: 1em 1em 1.5em 1em;
}

.centercolumn {
  padding: 0px;
}

.iconbutton {
  border: 0px;
}

// .dropdown {
//   width: 100%;
// }
.searchfield {
  padding:0.5em 0.5em 0.5em 0.5em;
  border-radius:1em;
}

.locationbuttonfield {
  padding:0em 0.5em 0.5em 0.5em;
  border-radius:1em;
}

.locationbuttonbox {
  border-radius:0.25em;
}

.panelInput {
  // margin: 1em;
  max-width:70px;
}

.panel-tabs {
  background-color: white;
}

.panel-block {
  background-color: white;
}

// .panel-block-fix {
//   color: #363636;
//   display: flex;
//   justify-content: flex-end;
//   // padding: 0.5em 0.75em;
//   padding: 0.5em 0.5em;
// }

.panelLabelLeft {
  width: 160px;
  // min-width: 130px;
  // max-width: 300px;
  // padding-right: 2em;
  margin-right: 2em;
}

.panelInputFrame {
  // margin: 0em 1em;
  // padding: 0em 1em;
  // width: 70px;
}

.panelLabelRight {
  padding-left: 0.5em;
}

.title {
  padding:1px;
  padding: 6px 16px 7px;
  // background-color: rgba(229, 221, 186, .5);
  // background-color: rgba(121, 207, 238, 1);
  // background-color: rgba(183, 228, 161, .6);
  background-color: rgba(160, 212, 142, .5);
  border-radius:0.15em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.mapcontainer {
  position:relative
}

.bodyContainer {
  position:absolute;
  width:100%;
  top:0px;
}


.bottomFormContainer {
  position:absolute;
  width:100%;
  bottom:0px;
  padding:0 0 2em 0;
  border-radius:0.15em;
  // font-weight: 300;
}


@media (min-width: 769px) {
  .bodyContainer {
    // position:absolute;
    width:41%;
    // height:95vh;
    // background-color: #FFFFFF;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin: 10px;
  }
  .bottomFormContainer{
    width:41%;
    // top: 0px;
  }
}


.map-marker {
  height: 20px;
  width: 20px;
  background-color: red;
  color: white;
  border-radius: 100%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
